# Streamlit untuk dashboard
streamlit>=1.25.0

# Manipulasi data
pandas>=2.1.0
numpy>=1.26.0

# Visualisasi interaktif
plotly>=5.20.0

# Machine Learning / AI
scikit-learn>=1.3.0

# Opsional tapi direkomendasikan
joblib>=1.3.2    # untuk menyimpan/memuat model AI
